:root {
    --primary: #BA494F;
    --secondary: #25357e;
    --background: #f4fff4;
    --text: #222;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    color: var(--text);
}

header{
    background: var(--secondary);
    color: white;
    text-align: center;
    padding: 1rem;
}

picture img{
    width: 100%;
    display: block;
}

.data,
.weather{
    position: relative;
    background: rgba(255, 255, 255, 0.589);
    padding: 5rem 1rem 1rem;
    margin: 1rem;
    text-align: center;
}

.data h2,
.weather h2{
    background: var(--primary);
    position: absolute;
    top: 10px;
    left: -20px;
    color: white;
    padding: 0.8rem 2rem;
    width: 180px;
    box-shadow: 4px 4px 8px rgba(0,0,0,.3);
}

footer{
    background: var(--secondary);
    color: white;
    text-align: center;
    padding: 1rem;
}