* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
        
}

header {
    background-color: #3f0d63;
    color: white;
    padding: 1rem;
}

header p {
    text-align: center;
    font-size:xx-large;
}



nav {
    display: none;
    flex-direction: column;
    text-align: center;
}
nav a {
  
    color: white;
    text-decoration: none;
    padding: .7rem;
}

nav a:hover {
    background: white;
    color: #3f0d63;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 1rem;
}
main h1 {
    text-align: center;
    margin: 1rem;
}
figure {
    text-align: center;
    margin-bottom: 1rem;
}

figure img {
    width: 100%;
    max-width: 300px;
    height: 200px;
    
    
}

footer {
    background: #3f0d63;
    color: white;
    text-align: center;
    padding: 1rem;
}

#menu{
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}


nav.open{
    display: flex;
}